@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "JetBrains Mono", "Roboto Mono", monospace;
}

body {
  @apply bg-[#050505] text-white antialiased;
}

/* Custom scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-[#050505];
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 border-2 border-[#050505];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600;
}
